
@{
    ViewData["Title"] = "Manage Users";
}

<!-- breadcrumb begin -->
        <div class="breadcrumb-bettix standing-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="breadcrumb-content">
                            <h2>Manage Users</h2>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Account</a>
                                </li>
                                <li>
                                    Users
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <!-- standing begin -->
        <div class="standing">
            <div class="container">
                <div class="filter-menu">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All</option>
                                    <option>Last 7 days</option>
                                    <option>Last 24 hours</option>
                                    <option>Last 12 hours</option>
                                    <option>Last 6 hours</option>
                                    <option>Last 1 hours</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All Sports</option>
                                    <option>Football</option>
                                    <option>Ice Hocky</option>
                                    <option>Badminton</option>
                                    <option>Baseball</option>
                                    <option>Basketball</option>
                                    <option>Tennis</option>
                                    <option>Cycling</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All</option>
                                    <option>Active</option>
                                    <option>In Active</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="standing-list-cover">
                    <div class="standing-team-list">
                        <h4 class="result-title">Users</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">t</th>
                                    <th scope="col">pts</th>
                                    <th scope="col">diff</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (User u in Model.Users)
                                {
                                    <tr>
                                        <th scope="row"></th>
                                        <td>
                                            <span class="single-team">
                                                <span class="logo">
                                                    <img src="assets/img/team-1.png" alt="">
                                                </span>
                                                <span class="text">
                                                    Khulna Tigers
                                                </span>
                                            </span>
                                        </td>
                                        <td>@u.103</td>
                                        <td>@u.52</td>
                                        <td>1</td>
                                        <td>425</td>
                                        <td><span class="diff">+28</span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary" href="/Home/">Edit</button>
                                        </td>
                                    </tr>
                                }
                                <!--
    <tr>
        <th scope="row">2</th>
        <td>
            <span class="single-team">
                <span class="logo">
                    <img src="assets/img/team-2.png" alt="">
                </span>
                <span class="text">
                    Dhaka Platoon
                </span>
            </span>
        </td>
        <td>103</td>
        <td>52</td>
        <td>1</td>
        <td>425</td>
        <td><span class="diff">+28</span></td>
        <td>
            <button type="button" class="btn btn-primary">Primary</button>
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>
            <span class="single-team">
                <span class="logo">
                    <img src="assets/img/team-3.png" alt="">
                </span>
                <span class="text">
                    Sylhet thunder
                </span>
            </span>
        </td>
        <td>103</td>
        <td>52</td>
        <td>1</td>
        <td>425</td>
        <td><span class="diff">+28</span></td>
        <td>
            <button>
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>
            <span class="single-team">
                <span class="logo">
                    <img src="assets/img/team-4.png" alt="">
                </span>
                <span class="text">
                    Rajshahi Royals
                </span>
            </span>
        </td>
        <td>103</td>
        <td>52</td>
        <td>1</td>
        <td>425</td>
        <td><span class="diff">+28</span></td>
        <td>
            <button>
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </td>
    </tr>
    <tr>
        <th scope="row">5</th>
        <td>
            <span class="single-team">
                <span class="logo">
                    <img src="assets/img/team-5.png" alt="">
                </span>
                <span class="text">
                    Rangpur SIxers
                </span>
            </span>
        </td>
        <td>103</td>
        <td>52</td>
        <td>1</td>
        <td>425</td>
        <td><span class="diff">+28</span></td>
        <td>
            <button>
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </td>
    </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <span class="text-special">
                    <b>Glossary Terms:</b>  <b class="color-sec">W</b> = Wins, <b class="color-sec">T</b> = Ties, <b class="color-sec">Diff</b> = Point differental, <b class="color-sec">L</b> = Loses, <b class="color-sec">PTS</b> = Winning Percentage  
                </span>
            </div>
        </div>
        <!-- standing end -->